.containerBody {
    background-image: url("https://krot.info/uploads/posts/2021-01/1610159967_2-p-temnii-fon-dlya-teksta-4.jpg");
}
.homeWorks {
    color: antiquewhite;
    font-size: 30px;
    margin-left: 100px;
    padding: 30px 0 30px;
}